2.XML&JSON/XML/abc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- 
<xs:element name="color">
  <xs:complexType>
    <xs:attribute name="code" type="xs:string"/>
  </xs:complexType>
</xs:element> -->

    <!-- <xs:element name ="person" >
   <xs:complexType >
   <xs:sequence>
    <xs:element name="firstname" type="xs:string"/>
    <xs:element name="lastname" type="xs:string"/>
   </xs:sequence>
   </xs:complexType>
    </xs:element> -->
      
<xs:element name="shoesize">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="country" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>






</xs:schema>