2.XML&JSON/XML/2.schema/practice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="s">
        <xs:complexType>
            <xs:sequence>
<xs:element name="person" minOccurs="0" maxOccurs="unbounded">
    <xs:complexType>
      <xs:sequence>
            <xs:element name="firstname" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="3"></xs:minLength>
                        <xs:maxLength value="16"></xs:maxLength>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lastname" type="xs:string"></xs:element>
            <xs:element name="age" >
                <xs:simpleType> 
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="18"></xs:minInclusive>
                        <xs:maxInclusive value="100"></xs:maxInclusive>
                    </xs:restriction>

                </xs:simpleType>
            </xs:element>
            <xs:element name="skills">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="html"></xs:enumeration>
                        <xs:enumeration value="css"></xs:enumeration>
                        <xs:enumeration value="js"></xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
    </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>