2.XML&JSON/XML/2.schema/book/book1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name ="b">
    <xs:complexType>
      <xs:sequence maxOccurs = "10" minOccurs ="2">
        <xs:element name ="book">
          <xs:complexType>
            <xs:all>
              <xs:element name ="bookID" type ="xs:integer"/>
              <xs:element name ="Title" type ="xs:string"/>
              <xs:element name ="Author">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name ="gender" type ="xs:string" use ="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>               
              </xs:element >
              <xs:element name ="age">
                <xs:simpleType>
                  <xs:restriction base ="xs:integer">
                    <xs:minInclusive value ="10"/>
                    <xs:maxInclusive value ="80"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>              
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
