2.XML&JSON/XML/2.schema/students/info.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="person">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="name">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="3"></xs:minLength>
                        <xs:maxLength value="12"></xs:maxLength>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
    <xs:element name="age" >
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minExclusive value="2"></xs:minExclusive>
                <xs:maxExclusive value="12"></xs:maxExclusive>
            </xs:restriction>
        </xs:simpleType>
      
    </xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>